@page
@model MyApp.Namespace.ForgotPasswordModel
@{
}
<link href="css/style.css" rel="stylesheet"><br><br>
<form method="post" id="signupForm">
            <div>
            <span>Enter new password<label>*</label>&nbsp&nbsp&nbsp</span>
            <input type="password" asp-for="Sifra" id="password">
            <label class="error" style="visibility: hidden; margin-bottom:0px;">Enter valid password.</label>
            </div>
            <div>
            <span>Confirm password<label>*</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <input type="password" asp-for="SifraOpet" id="confirm_password"> 
            <label class="error" style="visibility: hidden; margin-bottom:0px;">Enter valid password.</label>
            </div>
            <br /><br><br>
            <span class="err-msg">@Model.ErrorMessage</span>
            
            <input style="margin-left:0px;"type="submit" value="Submit"class="register-but" >
			<input type="hidden" asp-for="email">
			<input type="hidden" asp-for="passwordHash">
				
</form>
<br><br><br><br><br><br>
<script>
		document.querySelector("form").onsubmit=()=>
					{
					let error=false;
						
						
						if(passwordError("password"))
						error=true;
					
						if(passwordError("confirm_password"))
						error=true;
						if(error)
						{
						
						return false;
						}
						return true;
					}
    function passwordError(passID)
					{
						let pass=document.querySelector("#password");
						let cpass=document.querySelector("#confirm_password");
						if(document.querySelector("#"+passID).value==""||document.querySelector("#"+passID).value.length<5)
						{	
							document.querySelector("#"+passID).parentElement.querySelector(".error").innerHTML="Password must be at least 5 characters long";	
							document.querySelector("#"+passID).parentElement.querySelector(".error").style.visibility="visible";
							
							return true;
						}
						
						else 
						if(pass.value!=cpass.value)
						{
							document.querySelector("#"+passID).parentElement.querySelector(".error").innerHTML="Passwords do not match";	
							document.querySelector("#"+passID).parentElement.querySelector(".error").style.visibility="visible";
							
							return true;
						}
						
						else
						{
							pass.parentElement.querySelector(".error").innerHTML="Password must be at least 5 characters long";	
						    pass.parentElement.querySelector(".error").style.visibility="hidden";
							cpass.parentElement.querySelector(".error").innerHTML="Password must be at least 5 characters long";	
						    cpass.parentElement.querySelector(".error").style.visibility="hidden";
							
							
							return false;

						}


					}
					document.addEventListener("DOMContentLoaded",()=>{
 					let element=document.querySelector("#password");
					element.onfocus=function()
					{	
						this.onblur=()=>{ passwordError("password");}
					}
					element.oninput=function(e)
					{
						passwordError("password");
					}  
					element=document.querySelector("#confirm_password");
					element.onfocus=function()
					{	
						this.onblur=()=>{ passwordError("confirm_password");}
					}
					element.oninput=function(e)
					{
						passwordError("confirm_password");
					}  
					});
                  
</script>