@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div>Ime knjige: <input asp-for="NovaKnjiga.BookName"></div>
    <div>Autor: <input asp-for="NovaKnjiga.Author"></div>
    <div>Kategorija: <input asp-for="NovaKnjiga.Category"></div>
    <button type="submit">Snimi</button>

    <table class="table">
        <thead>
            <tr>
                <th>Naziv knjige</th>
                <th>Autor</th>
                <th>Cena</th>
                <th>Kategorija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var k in Model.Knjige)
            {
                <tr>
                    <td>@k.BookName</td>
                    <td>@k.Author</td>
                    <td>@k.Price</td>
                    <td>@k.Category</td>
                </tr>
            }

        </tbody>
    </table>

</form>
