/* required file for gridstack to work */
@import "https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css";




.table-label
{
  font-size: 37px;
}
.table-capacity
{
  font-size: 32px;
}
.table-label:hover
{
cursor: default;

}
.table-capacity:hover
{
  cursor: default;

}
.addedTable
{
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}





.grid-stack {
background-color: white;
  min-height: 400px;
  width: 100%;
  border: 1px dotted orange;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
  width: 100%;
}
#trash,.newWidget>div
{
width:180px;
height:120px;
padding-top:10px;
margin-top:15px;
margin-bottom:18px;


}
.table-layout-controls
{
display:flex;
flex-direction:row;
flex-wrap: nowrap;
justify-content: space-evenly;

width: 100%;
}
#trash span:hover
{
cursor: default;

}

#trash span,.newWidget span
{
font-size:16px
}
.row .newWidget:hover
{
  cursor: grab;
}
#trash
{
    padding: 12px;
  
}
.row
{
  width: 100%;
}
